<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>Welcome to <b>Splurty</b>, the app that does two great things for you:</p>
  <ul>
    <li>Shows you random, memorable quotes from famous names</li>
    <li>Lets you submit your favorite quotes to be displayed on the site!</li>
    </ul>
  <div class="col-xs-12 col-sm-8">
  <br />
  <%= image_tag 'Jim_Fb-photo-2014.jpg', id: 'jimpic' %>
  <p>This Splurty app was built by web developer <span style='color:darkgreen; font-weight:bold;'>Jim Hinckley</span>. Besides having more than ten years of experience developing websites  (using WordPress and other platforms), Jim has written copy--both for the web and "offline" marketing channels--for clients in the technology, healthcare, business-to-business and financial-services industries, including:
  <ul>
  <li>Tellabs</li>
  <li>Northern Trust</li>
  <li>SBC/Ameritech</li>
  <li>La Salle Bank (now part of Bank of America)</li>
  </p>
  </div> 
</div>