<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>Welcome to <b>Splurty</b>, the app that does two great things for you:</p>
  <ul>
    <li>Shows you random, memorable quotes from famous names</li>
    <li>Lets you submit your favorite quotes to be displayed on the site!</li>
    </ul>
  <div class="col-xs-12 col-sm-8">
  <img id='jimpic' src='http://jimhinckley.com/firehose/Jim_photo-2014.jpg'>
  <p>This Splurty app was built by web developer <b>Jim Hinckley</b>. Besides having more than ten years of experience developing websites  (using WordPress and other platforms), Jim has written copy--both for the web and "offline" marketing channels--for clients in the technology, healthcare, business-to-business and financial-services industries.
  </p>
  </div> 
</div>