<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>
<h3>Hey, how about a nice h3 line here?</h3>
<br><img src='https://discoverboating.s3.amazonaws.com/boat-selector/boat-details/776/sailboats-image-02.jpg'>