<h3>
  <span style="color:darkgreen">SPLURTY #<%= @quote.id %></span>&nbsp; Here's the best unsolicited advice we can give you:
</h3>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right author">-- <%= @quote.author %></h2>
<br />
<br />
<h3><i>And now, a cool photo of a sailboat:</i></h3>
<img style="max-width:100%" src='https://discoverboating.s3.amazonaws.com/boat-selector/boat-details/776/sailboats-image-02.jpg'>
<br class="clear" />
<br />
<br />
<br />
