<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>
<h3>Heads are hangin' from the garbage man trees.<br>Mouthwash, jukebox, gasoline</h3>
<img src='http://www.pbh2.com/wordpress/wp-content/uploads/2013/12/sexy-kate-upton-photos.jpg'>