/* @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville'); */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
  border-top: 8px solid darkgreen;
}

.clear {
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    padding: 14px;
    position: relative;
    border-radius: 100%;
    background: radial-gradient(yellow,darkgreen);
    border: 2px solid green;
    width: 110px;
    height: 80px;
    margin: 15px 10px;
    text-align: center;
    color: #FFF;
    font-size: 110%;
    text-shadow:1px 1px 2px darkgreen;
    line-height: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transform:rotate(-12deg);
    -ms-transform:rotate(-12deg); /* IE 9 */
    -webkit-transform:rotate(-12deg); /* Opera, Chrome, and Safari */
}

.logo:hover {
    text-decoration: none;
    background-color: darkgreen;
}

.slogan, .links {
  font-size: 110%;
  padding-top:2%;
  text-align:center;
  /* Modern Georgia-based serif stack */
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.links a {
  color: white;
  font-family: 'charis_silregular', serif;
  /* font-weight: bold; */
  border-bottom: 1px solid #888;
  background-color: green;
  border-radius:18px;
  padding:0 10px;
  margin: 0 16px 16px 0;
}

.links a:hover {
  color:white;
  text-decoration: none;
  background-color: #000;
}

hr {
  clear:both;
}

h1 {
  color:darkgreen;
/*  font-family: 'Libre Baskerville', serif;  <-- Google font */
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -0.8px;
  line-height: 1.4em;
}

h2 {
/*  font-family: 'Libre Baskerville', serif; <-- Google font */
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -0.8px;
}

h3 {
/*  font-family: 'Libre Baskerville', serif; <-- Google font */
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
  color: #888;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -0.8px;
}

.next-quote {
  color:#f84342;
  font-size: 112%;
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
}

.modal {
  font-size: 110%;
  /* Modern Georgia-based serif stack */
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.text-muted {
  font-size: 98%;
}

.author {
  margin-top:0;
}

.about {
  font-size: 120%;
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
  line-height:1.4em;
  margin-bottom: 5%;
}

.footer-blurb {
  font-family: 'charis_silregular', serif;  /* FontSquirrel font, NOT Google font */
  text-align: right;
}

#jimpic {
  display:block;
  margin: 0 auto 3.5% auto;
  width: 140px;
  border-radius:20px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
    margin-top: 15px;
  }
}

::selection {
  background-color: yellow;
}
